<div id="about" class="about-container">
  <div class="rectangle-left"></div>
   <div class="image-container">
    <div class="grey-box"></div>
    <img src="../../../assets/img/about.png" alt="about-image">
  </div> 
  <div class="text-container">
    <h1>About</h1>
    <p>
      Passionate about transforming spaces into inspiring environments, 
      I bring a unique blend of creativity and functionality to every project. 
      I strive to craft interiors that not only reflect their personality but also enhance their lifestyle. 
      From concept to completion, I am dedicated to delivering designs that exceed expectations and create lasting impressions. 
      Let's collaborate to turn your dream space into a reality.
    </p>
  </div>
</div>