.gallery {
  display: block;
  padding: 5rem 0 1rem;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;

}

.gallery-container {
  // position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  /* gap between grid items */
}

.grid-item {
  background-color: #dddddd23;
  border: 1px solid #999;
  padding: 20px;
  text-align: center;
}

.grid-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-image: url("../../../assets/img/Amine.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.grid-item:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("../../../assets/img/Amine.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(3) {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("../../../assets/img/Amine.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url("../../../assets/img/Amine.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background-image: url("../../../assets/img/Amine.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(6) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-image: url("../../../assets/img/Amine.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-item:nth-child(7) {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  background-image: url("../../../assets/img/Amine.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .gallery-container {
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto; /* auto rows */
  }

  .grid-item {
    grid-column: auto; /* auto column placement */
    grid-row: auto; /* auto row placement */
  }
}