<!-- <div id="header">
    <div class="container">

      <h1><a href="index.html">Emily Jones</a></h1>
      <h2>I'm a passionate <span>graphic designer</span> from New York</h2>
      <div class="social-links">
        <a href="#" class="twitter"><i i-bs name="twitter"></i></a>
        <a href="#" class="facebook"><i i-bs name="facebook"></i></a>
        <a href="#" class="instagram"><i i-bs name="instagram"></i></a>
        <a href="#" class="linkedin"><i i-bs name="linkedin"></i></a>
      </div>

    </div>
</div> -->
<!-- End Header -->

<div class="hero-section">

    <div class="hero-content">
      <div class="text-container">
        <div class="d-flex ">
        <div class="social-links">
          <a href="#" class="facebook"><i i-bs name="facebook"></i></a>
          <a href="#" class="linkedin"><i i-bs name="linkedin"></i></a>
          <a href="#" class="instagram"><i i-bs name="instagram"></i></a>
         
        </div>
        <h1><a href="index.html">KHANFARINTERIORS</a></h1>
      </div>
      
    </div>
    <div class="h2-container">
      <h2>Interior Design</h2></div>
    </div>
    <div class="hero-image">
      <img src="../../../assets/img/hero.png" alt="">
    </div>
</div>


<!-- <div id="header">
    <div class="container">

      <h1><a href="index.html">Emily Jones</a></h1>
      <h2>I'm a passionate <span>graphic designer</span> from New York</h2>
      <div class="social-links">
        <a href="#" class="twitter"><i i-bs name="twitter"></i></a>
        <a href="#" class="facebook"><i i-bs name="facebook"></i></a>
        <a href="#" class="instagram"><i i-bs name="instagram"></i></a>
        <a href="#" class="linkedin"><i i-bs name="linkedin"></i></a>
      </div>

    </div>
</div> -->